body{
  margin-left: 0px;
  margin-right: 0px;
  overflow-x: hidden;
  }
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.brand {
   padding-left: 120px;
   color: #fff;
}
.bg-img {
/* The image used */
background-image: url('../img/header.jpg');
min-height: 400px;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* Needed to position the navbar */
position: relative;
}
.bg-img h4 {
  color:white;
 /* text-align: center;*/
}
.precio{
color: chartreuse;
font-weight: bold;
text-align: left;
}
.baner{
background-image: url('../img/encuentra.jpg');
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 400px;
color: white;
text-align: center;
}
.titulo{
font-size: larger;
padding-top: 10px;
font-weight: bold;
text-align: center;
}
.borde{
border: 1px solid;
height: 530px;
}
.card-text{
  text-align: left;
}
.card-img-top {
width: 100%;
height: 15vw;
object-fit: cover;
}
.imgcol1 {
float: left;
width: 33.33%;
padding-left: 10px;
}
.imgcol2 {
float: left;
width: 33.33%;
align-items: center;
}
.imgcol3 {
float: left;
width: 33.33%;
padding-right: 10px;
}
/* Clear floats after image containers */
.imgrow::after {
content: "";
clear: both;
display: table;
}

#design{
height: 50px;
padding-top: 16px;
}
.bgimage {
  width:100%;
  height:500px;
  background: url(../img/encuentra.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  padding-bottom: 0px;
  color: #fff;
}
.bgimage h1 {
  color:white;
  text-align: center;
  text-shadow:2px 2px #333;
}
.bgimage h5 {
  color:white;
  text-align: center;
  text-shadow:2px 2px #333;
}
.btn {
   border-radius: 0px;
}
/* Footer */
footer{
  background-color: rgb(51, 48, 48);
  color: rgb(255, 255, 255);
  height: 60px;
  }
  li a {
  color: rgb(255, 255, 255);
  }
  li a:hover {
    color: rgb(240, 30, 30);
    }
.footerNav nav ul li {
  list-style: none;
}

.footerNav nav ul a {
color: var(--blanco); 
}

.footerNav nav ul {
padding-top: 20px;
}

.footerNav p {
background-color: rgb(51, 51, 51);
margin-bottom: 0!important;
}